<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidenav">
  <div class="logo">
    <img src="assets/xor-logo.png" alt="" class="logo">
  </div>
  <!-- <a [ngClass]="{'active-tab' : tab == 1}" class="sideButtons" (click)="tab=1" routerLink="/">
    <i class="fa fa-male" aria-hidden="true" style="font-size: 20px"></i>
    <p style="font-size: 8px; font-weight: bolder">
      Standalone Schema
    </p>
  </a>
  <a [ngClass]="{'active-tab' : tab == 2}" class="sideButtons" (click)="tab=2" routerLink="/star">
    <i class="fa fa-star" aria-hidden="true" style="font-size: 20px"></i>
    <p style="font-size: 8px; font-weight: bolder">
      Star Schema
    </p>
  </a>

  <a [ngClass]="{'active-tab' : tab == 3}" class="sideButtons" (click)="tab=3" routerLink="/snowflake">
    <i class="fa fa-snowflake-o" aria-hidden="true" style="font-size: 20px"></i>
    <p style="font-size: 8px; font-weight: bolder">
      Snowflake Schema
    </p>
  </a> -->
  <a [ngClass]="{'active-tab' : tab == 1}" class="sideButtons" (click)="tab=1" routerLink="/">
    <i class="fa fa-book" aria-hidden="true" style="font-size: 20px"></i>
    <p style="font-size: 8px; font-weight: bolder">
      Data Dictionary
    </p>
  </a>
</div>
